{# layout.html #}
{# Import the theme's layout. #}
{% extends "!page.html" %}

{% set css_files = css_files + ['_static/theme.css'] %}
{% set script_files = script_files + ['_static/myscript.js'] %}

{% block footer %}
<header>
	<div class="header__container">
		<a href="http://docs.zboxnow.com/" class="header__logo">
			<img width="176" src="https://chat.zboxapp.com/static/images/logoWhite.png">
		</a>
		<div class="links__icon">
			<i class="fa fa-bars"></i>
		</div>
		<ul class="header__links">
			<li><a class="active" href="http://docs.zboxnow.com/">Docs</a></li>
			<li><a href="http://ayuda.zboxapp.com/">Ayuda</a></li>
			<li><a href="http://blog.zboxapp.com/">Blog</a></li>
		</ul>
	</div>
</header>
{% endblock %}